In [3]:
import numpy as np
import pandas as pd

In [4]:
s1516 = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction-using-ml-techniques\data\Bundesliga\D1-1516.csv')

understats = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction-using-ml-techniques\data\understat_per_game.csv')

In [5]:
s1516 = s1516[['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG','HTAG',
              'HS', 'AS', 'HST','AST','HC','AC', 'HF', 'AF', 'B365H', 'B365A', 'B365D',
               'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA']].reset_index(drop=True)

In [6]:
s1516.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HS,AS,...,B365D,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA
0,14/08/15,Bayern Munich,Hamburg,5,0,H,1,0,23,5,...,11.00,1.09,12.87,35.46,1.08,10.0,26.0,1.10,12.0,31.00
1,15/08/15,Augsburg,Hertha,0,1,A,0,0,20,11,...,3.40,2.04,3.43,4.20,2.10,3.3,3.5,2.05,3.4,4.10
2,15/08/15,Darmstadt,Hannover,2,2,D,1,0,11,14,...,3.30,2.56,3.35,3.02,2.50,3.2,2.9,2.55,3.4,3.00
3,15/08/15,Dortmund,M'gladbach,4,0,H,3,0,17,5,...,3.75,1.73,4.00,5.21,1.75,3.5,5.0,1.75,4.0,5.00
4,15/08/15,Leverkusen,Hoffenheim,2,1,H,1,1,25,6,...,4.33,1.52,4.70,6.76,1.53,4.0,6.5,1.55,4.6,6.25

In [7]:
s1516['Date'] = pd.to_datetime(s1516['Date'],format="%d/%m/%y")

In [8]:
understats['Date'] = pd.to_datetime(understats['date']).dt.strftime("%Y-%m-%d")
understats['Date'] = pd.to_datetime(understats['Date'])

In [9]:
understats =understats.replace({'team':{'Hamburger SV':'Hamburg','Bayer Leverkusen':'Leverkusen','Eintracht Frankfurt':'Ein Frankfurt',
                           "Borussia M.Gladbach":"M'gladbach",'Hertha Berlin':'Hertha','Mainz 05':'Mainz',
                           'Hannover 96':'Hannover','Borussia Dortmund':'Dortmund','VfB Stuttgart':'Stuttgart',
                           'FC Cologne':'FC Koln', 'RasenBallsport Leipzig':'RB Leipzig','Nuernberg':'Nurnberg',
                           'Fortuna Duesseldorf':'Fortuna Dusseldorf'}})

In [10]:
df = pd.merge(s1516,understats, how='inner',left_on=['Date','HomeTeam'],right_on=['Date','team'])

In [11]:
df.shape

(306, 57)

In [12]:
df.isnull().sum()

Date            0
HomeTeam        0
AwayTeam        0
FTHG            0
FTAG            0
FTR             0
HTHG            0
HTAG            0
HS              0
AS              0
HST             0
AST             0
HC              0
AC              0
HF              0
AF              0
B365H           0
B365A           0
B365D           0
PSH             0
PSD             0
PSA             0
WHH             0
WHD             0
WHA             0
VCH             0
VCD             0
VCA             0
league          0
year            0
h_a             0
xG              0
xGA             0
npxG            0
npxGA           0
deep            0
deep_allowed    0
scored          0
missed          0
xpts            0
result          0
date            0
wins            0
draws           0
loses           0
pts             0
npxGD           0
ppda_coef       0
ppda_att        0
ppda_def        0
oppda_coef      0
oppda_att       0
oppda_def       0
team            0
xG_diff         0
xGA_diff        0
xpts_diff       0
dtype: int64

In [13]:
df.rename(columns = {'xG':"HxG", 'xGA':'AxG','deep':'Hdeep','deep_allowed':'Adeep',
                     'ppda_coef':'Hppda_coef','oppda_coef':'Appda_coef'},inplace=True)

df = df.drop(['npxG','npxGA','scored', 'missed', 'xpts', 'result', 'wins',
              'draws', 'loses', 'pts', 'npxGD', 'ppda_att', 'ppda_def',
              'oppda_att', 'oppda_def', 'team', 'xG_diff', 'xGA_diff',
              'xpts_diff', 'date', 'year','h_a'],axis=1)

In [14]:
# Calculating the average of betting sites odd for each result
avgH = round((df['B365H'] + df['PSH'] + df['WHH'] + df['VCH'])/4,2)
avgD = round((df['B365D'] + df['PSD'] + df['WHD'] + df['VCD'])/4,2)
avgA = round((df['B365A'] + df['PSA'] + df['WHA'] + df['VCA'])/4,2)

df['AVGH'] = avgH
df['AVGD'] = avgD
df['AVGA'] = avgA

#drop the existing columns with betting odds
df = df.drop(['PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 
              'VCD', 'VCA', 'B365H', 'B365D', 'B365A'],axis=1)

In [15]:
df['season']='2015/2016'

In [16]:
df.head(9)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HS,AS,...,HxG,AxG,Hdeep,Adeep,Hppda_coef,Appda_coef,AVGH,AVGD,AVGA,season
0,2015-08-14,Bayern Munich,Hamburg,5,0,H,1,0,23,5,...,3.229040,0.154234,6,3,4.142857,21.571429,1.09,11.47,30.36,2015/2016
1,2015-08-15,Augsburg,Hertha,0,1,A,0,0,20,11,...,1.148690,1.232910,3,4,9.733333,10.500000,2.05,3.38,3.92,2015/2016
2,2015-08-15,Darmstadt,Hannover,2,2,D,1,0,11,14,...,1.809120,1.857310,9,3,6.814815,4.882353,2.53,3.31,2.96,2015/2016
3,2015-08-15,Dortmund,M'gladbach,4,0,H,3,0,17,5,...,2.420130,0.185210,7,1,11.464286,20.263158,1.74,3.81,5.05,2015/2016
4,2015-08-15,Leverkusen,Hoffenheim,2,1,H,1,1,25,6,...,3.527730,0.483949,10,3,3.342857,4.558824,1.52,4.41,6.50,2015/2016
5,2015-08-15,Mainz,Ingolstadt,0,1,A,0,0,9,14,...,0.547769,0.577316,4,5,4.321429,12.900000,2.06,3.43,3.81,2015/2016
6,2015-08-15,Werder Bremen,Schalke 04,0,3,A,0,1,15,16,...,0.914717,1.449800,7,7,8.809524,8.033333,3.05,3.43,2.38,2015/2016
7,2015-08-16,Stuttgart,FC Koln,1,3,A,0,0,28,9,...,2.985580,1.850870,11,4,5.928571,14.200000,2.06,3.44,3.76,2015/2016
8,2015-08-16,Wolfsburg,Ein Frankfurt,2,1,H,2,1,5,13,...,0.740041,0.950098,4,6,7.666667,11.242424,1.48,4.69,6.86,2015/2016

In [17]:
#-1 cause it was the first team of bundesliga 2
#-2 cause it wast he second team of bundesliga 3

df.loc[df['HomeTeam']=='Bayern Munich','ranking_HT_ls'] = 1
df.loc[df['HomeTeam']=='Wolfsburg','ranking_HT_ls'] = 2
df.loc[df['HomeTeam']=="M'gladbach",'ranking_HT_ls'] = 3
df.loc[df['HomeTeam']=='Leverkusen','ranking_HT_ls'] = 4
df.loc[df['HomeTeam']=='Augsburg','ranking_HT_ls'] = 5
df.loc[df['HomeTeam']=="Schalke 04",'ranking_HT_ls'] = 6
df.loc[df['HomeTeam']=='Dortmund','ranking_HT_ls'] = 7
df.loc[df['HomeTeam']=='Hoffenheim','ranking_HT_ls'] = 8
df.loc[df['HomeTeam']=='Ein Frankfurt','ranking_HT_ls'] = 9
df.loc[df['HomeTeam']=='Werder Bremen','ranking_HT_ls'] = 10
df.loc[df['HomeTeam']=='Mainz','ranking_HT_ls'] = 11
df.loc[df['HomeTeam']=='FC Koln','ranking_HT_ls'] = 12
df.loc[df['HomeTeam']=='Hannover','ranking_HT_ls'] = 13
df.loc[df['HomeTeam']=='Stuttgart','ranking_HT_ls'] = 14
df.loc[df['HomeTeam']=='Hertha','ranking_HT_ls'] = 15
df.loc[df['HomeTeam']=='Hamburg','ranking_HT_ls'] = 16
df.loc[df['HomeTeam']=='Ingolstadt','ranking_HT_ls'] = -1
df.loc[df['HomeTeam']=='Darmstadt','ranking_HT_ls'] = -2

In [18]:
#-1 cause it was the first team of bundesliga 2
#-2 cause it wast he second team of bundesliga 3

df.loc[df['AwayTeam']=='Bayern Munich','ranking_AT_ls'] = 1
df.loc[df['AwayTeam']=='Wolfsburg','ranking_AT_ls'] = 2
df.loc[df['AwayTeam']=="M'gladbach",'ranking_AT_ls'] = 3
df.loc[df['AwayTeam']=='Leverkusen','ranking_AT_ls'] = 4
df.loc[df['AwayTeam']=='Augsburg','ranking_AT_ls'] = 5
df.loc[df['AwayTeam']=="Schalke 04",'ranking_AT_ls'] = 6
df.loc[df['AwayTeam']=='Dortmund','ranking_AT_ls'] = 7
df.loc[df['AwayTeam']=='Hoffenheim','ranking_AT_ls'] = 8
df.loc[df['AwayTeam']=='Ein Frankfurt','ranking_AT_ls'] = 9
df.loc[df['AwayTeam']=='Werder Bremen','ranking_AT_ls'] = 10
df.loc[df['AwayTeam']=='Mainz','ranking_AT_ls'] = 11
df.loc[df['AwayTeam']=='FC Koln','ranking_AT_ls'] = 12
df.loc[df['AwayTeam']=='Hannover','ranking_AT_ls'] = 13
df.loc[df['AwayTeam']=='Stuttgart','ranking_AT_ls'] = 14
df.loc[df['AwayTeam']=='Hertha','ranking_AT_ls'] = 15
df.loc[df['AwayTeam']=='Hamburg','ranking_AT_ls'] = 16
df.loc[df['AwayTeam']=='Ingolstadt','ranking_AT_ls'] = -1
df.loc[df['AwayTeam']=='Darmstadt','ranking_AT_ls'] = -2

In [19]:
df.head(9)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HS,AS,...,Hdeep,Adeep,Hppda_coef,Appda_coef,AVGH,AVGD,AVGA,season,ranking_HT_ls,ranking_AT_ls
0,2015-08-14,Bayern Munich,Hamburg,5,0,H,1,0,23,5,...,6,3,4.142857,21.571429,1.09,11.47,30.36,2015/2016,1.0,16.0
1,2015-08-15,Augsburg,Hertha,0,1,A,0,0,20,11,...,3,4,9.733333,10.500000,2.05,3.38,3.92,2015/2016,5.0,15.0
2,2015-08-15,Darmstadt,Hannover,2,2,D,1,0,11,14,...,9,3,6.814815,4.882353,2.53,3.31,2.96,2015/2016,-2.0,13.0
3,2015-08-15,Dortmund,M'gladbach,4,0,H,3,0,17,5,...,7,1,11.464286,20.263158,1.74,3.81,5.05,2015/2016,7.0,3.0
4,2015-08-15,Leverkusen,Hoffenheim,2,1,H,1,1,25,6,...,10,3,3.342857,4.558824,1.52,4.41,6.50,2015/2016,4.0,8.0
5,2015-08-15,Mainz,Ingolstadt,0,1,A,0,0,9,14,...,4,5,4.321429,12.900000,2.06,3.43,3.81,2015/2016,11.0,-1.0
6,2015-08-15,Werder Bremen,Schalke 04,0,3,A,0,1,15,16,...,7,7,8.809524,8.033333,3.05,3.43,2.38,2015/2016,10.0,6.0
7,2015-08-16,Stuttgart,FC Koln,1,3,A,0,0,28,9,...,11,4,5.928571,14.200000,2.06,3.44,3.76,2015/2016,14.0,12.0
8,2015-08-16,Wolfsburg,Ein Frankfurt,2,1,H,2,1,5,13,...,4,6,7.666667,11.242424,1.48,4.69,6.86,2015/2016,2.0,9.0

In [20]:
df.to_csv('bundesliga-1516.csv', index=False)